body {
  margin: 0;
  background: black;
  color: #00ff00;
  font-family: monospace;
  padding: 20px;
  overflow: hidden;
}

#terminal {
  white-space: pre-line;
  font-size: 16px;
}

/* صفحه نهایی */
#final {
  position: fixed;
  inset: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: red;
  direction: rtl;
  text-align: center;
  animation: glitch 0.15s infinite;
  padding: 20px;
}

.main-text {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 20px red, 0 0 50px red;
}

.line {
  width: 300px;
  height: 2px;
  background: red;
  margin: 20px 0;
  box-shadow: 0 0 10px red;
}

.sub-text {
  font-size: 30px;
  letter-spacing: 3px;
  color: #ff4444;
}

/* افکت گلیچ */
@keyframes glitch {
  0% { transform: translate(1px,-1px); }
  50% { transform: translate(-2px,2px); }
  100% { transform: translate(1px,1px); }
}